<style>
    .api-container-parent {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .api-container-text {
        margin: 0;
        padding: 0;
        letter-spacing: 0.25px;
    }
    
    [class^="api-method-"] {
        padding: 0px 10px;
        color: white;
        font-weight: bolder;
        margin-right: 10px;
        border-radius: 50px;
    }
    
    .api-method-post {
        background-color: #3ba55d;
    }
    
    .api-method-get {
        background-color: #ccb73f;
    }
    
    .api-method-delete {
        background-color: #e53e3e;
    }
    
    .tables11 {
        display: flex;
        flex-direction: row;
        margin-right: 100px;
    }
</style>